* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f4f4;
    color: #222;
}


.navbar {
    background: #1f1f1f;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo p {
    opacity: 0.7;
    font-size: 12px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
    background: #292929;
    color: white;
}

.hero-left {
    max-width: 500px;
}

.hero-left h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.hero-left p {
    font-size: 17px;
    margin-bottom: 25px;
    opacity: 0.9;
}

.btn {
    padding: 12px 25px;
    background: #4b8aff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}


.hero-right {
    position: relative;
    width: 300px;
    height: 260px;
}

.circle {
    width: 160px;
    height: 160px;
    background: linear-gradient(45deg, #4b8aff, #00d4ff);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 0;
}

.square {
    width: 140px;
    height: 140px;
    background: #3b3b3b;
    border: 2px solid #4b8aff;
    position: absolute;
    bottom: 10px;
    left: 0;
    transform: rotate(15deg);
}

.tagline {
    position: absolute;
    bottom: -40px;
    left: 30px;
    font-size: 15px;
    opacity: 0.7;
}


.about {
    padding: 60px;
    background: white;
    margin-top: 30px;
}

.about h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 28px;
}

.about-content {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.left-box, .right-box {
    background: #f0f2f8;
    padding: 25px;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.left-box h3,
.right-box h3 {
    margin-bottom: 10px;
}

.left-box p,
.right-box p {
    line-height: 1.6;
}

.resume-btn {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
